.sectionShopIntro {
    h1,h2,h3 {
    font-weight: 400;
    }
    margin-bottom: -10px;
}
.tierAccordion {
    h1 {
        font-family: pirulen;
        font-size: 5em;
        left: 20px;
        margin: 0;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    ul {
        top: -10%;
        font-size: 1.15em;
        text-align: right;
        right: 10%;
        position: relative;
        list-style-position: inside;
    }
    li {
        margin: 0 0 0.5em 0;
    }
    #tiers-questionMark {
        font-size: 7em;
        top: 0.2em;
        margin: 0 0 -0.5em 0;
    }
    height: 20em;
}
.accordionGreen {
    background: linear-gradient(to right, rgba(55, 185, 7, 0.6), rgba(72, 156, 11, 0.6)), url('https://res.cloudinary.com/dmejmwxek/image/upload/v1651180565/tier1.png') no-repeat center top;
}
.accordionBlue {
    background: linear-gradient(to right, rgba(13, 172, 172, 0.6), rgba(7, 157, 150, 0.6)), url('https://res.cloudinary.com/dmejmwxek/image/upload/v1651179871/tier2.png') no-repeat center;
}
.accordionRed {
    background: linear-gradient(to right, rgba(242, 41, 58, 0.6), rgba(202, 48, 61, 0.6)), url('https://res.cloudinary.com/dmejmwxek/image/upload/v1651179870/tier3.png') no-repeat right;
}
.accordionGreen-wrapper {
    background: linear-gradient(to right, rgba(55, 185, 7, 1), rgba(72, 156, 11, 1));
}
.accordionBlue-wrapper {
    background: linear-gradient(to right, rgba(13, 172, 172, 1), rgba(7, 157, 150, 1));
}
.accordionRed-wrapper {
    background: linear-gradient(to right, rgba(242, 41, 58, 1), rgba(202, 48, 61, 1));
}
@media only screen and (max-width: 600px) {
    .shop-tiers {
        .button {
            width: 12em;
        }
    }
    .tierAccordion {
        h1 {
            font-size: 8vw;
            top: 15%;
            left: 0;
            text-align: center;
        }
        ul {
            text-align: center;
            left: -17.5px;
            top: 15%;
            font-size: 10pt;
        }
        #tiers-questionMark {
            font-size: 8em;
            top: 0.5em;
            margin: 0;
        }
    }
}
.purchaseButton {
    font-size: 100%;
    padding: 0.75em 3em 0.75em 3em;
    margin: 0.5em 0 0 0;
}
