.sectionShopIntro {
    h1,h2,h3 {
    font-weight: 400;
    }
    margin-bottom: -10px;
}
.sectionShopInfo {
    margin: 0 0 3.65vw 0;
}
.tierAccordion {
    h1 {
        font-family: pirulen;
        font-size: 5vw;
        left: 20px;
        margin: 0;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    ul {
        font-size: 1vw;
        text-align: right;
        right: 10%;
        position: relative;
        list-style-position: inside;
    }
    #tiers-questionMark {
        font-size: 7em;
        top: 50px;
    }
    height: 20em;
}
.accordionGreen {
    background: linear-gradient(to right, rgba(55, 185, 7, 0.6), rgba(72, 156, 11, 0.6)), url('https://res.cloudinary.com/dmejmwxek/image/upload/v1650814921/render_esbrlm.png') no-repeat top;
}
.accordionBlue {
    background: linear-gradient(to right, rgba(13, 172, 172, 0.6), rgba(7, 157, 150, 0.6)), url('https://res.cloudinary.com/dmejmwxek/image/upload/v1650916458/poster_render03_landscape_syihnb.png') no-repeat center;
}
.accordionRed {
    background: linear-gradient(to right, rgba(242, 41, 58, 0.6), rgba(202, 48, 61, 0.6)), url('https://res.cloudinary.com/dmejmwxek/image/upload/v1650916624/poster1_landscape_icg9q7.png') no-repeat center;
}
@media only screen and (max-width: 600px) {
    .shop-tiers {
        .button {
            width: 12em;
        }
    }
    .tierAccordion {
        h1 {
            font-size: 8vw;
            top: 15%;
            left: 0;
            text-align: center;
        }
        ul {
            text-align: center;
            left: -17.5px;
            top: 15%;
            font-size: 10pt;
        }
        li {
            margin: 0 0 0.5em 0;
        }
    }
}
.purchaseButton {
    font-size: 100%;
    padding: 0.75em 3em 0.75em 3em;
    margin: 0.5em 0 0 0;
}
